<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body style="font-family: Varela Round">
  <% include ./partials/nav %>

  <br>

  <div class="uk-container">
    <form action="/article/add" method="post">
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Add Article</legend>

        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Title" name="title">
        </div>

        <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" name="body" maxlength="1000" placeholder="Write your article..." autofocus></textarea>
        </div>

        <button type="submit" class="uk-button uk-button-primary">post article</button>
      </fieldset>
    </form>
  </div>
  <% include ./partials/scripts %>
</body>
</html>