<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body style="font-family: Varela Round">
 <% include ./partials/nav %>
  <br>
  <div class="uk-container">
    <form action="/article/edit/<%= article._id %>" method="post">
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Edit Article</legend>

        <div class="uk-margin">
          <input class="uk-input" type="text" name="title" value="<%= article.title %>">
        </div>

        <div class="uk-margin">
          <textarea class="uk-textarea" rows="5" name="body" maxlength="1000" autofocus><%= article.body %></textarea>
        </div>

        <button type="submit" class="uk-button uk-button-primary">submit</button>
      </fieldset>
    </form>
  </div>
  <% include ./partials/scripts %>
</body>
</html>