<div class="">
  <p>Twitter Clone</p>
</div>

<hr>

<div class="uk-container">
  <p>Log in to Twitter</p>
  <form class="uk-form-controls" action="/login" method="post">

    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input" type="text" name="username">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <input class="uk-input" type="text" name="password">
      </div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-1-1">
        <input class="uk-input" type="submit" value="login">
      </div>
    </div>

  </form>
  <p><small>or</small></p>
  <button type="button" name="button">create new account</button>
</div>