<!DOCTYPE html>
<html>

<head>
  <title>Articles</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body style="font-family: Varela Round">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="/">ArticlesApp</a></li>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <% if (user) { %>
          <li class="uk-active">
            <a href="/article/add">add article</a>
          </li>
          <li class="uk-active">
            <a href="#"><%= user.username %></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/users/logout"><span class="uk-margin-small-right uk-icon" uk-icon="sign-out"></span>Logout</a></li>
              </ul>
            </div>
          </li>
        <% } else { %>
          <li>
            <div>
              <div class="uk-button-group" style="padding-top: 8px;">
                <a href="/users/login" class="uk-button uk-button-primary">login</a>
                <a href="/users/register" class="uk-button uk-button-secondary">register</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <div>
    <% if (articles.length === 0) {%>
      <h1>No articles yet...</h1>    
    <% } else {%>
      <ul>
      <% articles.forEach(function(article){ %>
        <li>
          <a href="/article/<%= article._id %>"><%= article.title %></a>
        </li>
      <% }); %>
    </ul>
    <% } %>
  </div>

</body>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>

</html>