<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body>
  <% include ./partials/nav %>
  <% include ./partials/messages %>
  <div class="uk-container">
    <% include ./partials/articles %>
  </div>
  <% include ./partials/scripts %>
</body>
</html>