html, body {
  background-color: #23232d;
  height: 500px;
}

.uk-container {
  text-align: center;
  padding: 20px 50px;
  background-color: #2c2c36;
}

.uk-input {
  background-color: #23232d;
}

.uk-input:focus {
  background-color: #23232d;
}